name: Cypress Tests on Chrome

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # Permite ejecutar manualmente

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Instala Node.js, dependencias de Cypress, y ejecuta los tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Puedes especificar el navegador si quieres, Chrome es el predeterminado
          browser: chrome 
          # Comando a ejecutar, que coincide con el script definido en package.json
          command: npm run test:cypress
          # Opcional: especificas qué archivos ejecutar si no quieres todos los tests por defecto
          spec: cypress/e2e/cypressAction.cy.js
          
      # Paso opcional para subir capturas de pantalla o vídeos si fallan los tests
      - name: Upload screenshots/videos on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: cypress/screenshots
          # path: cypress/videos # descomentar si se graban videos
